<h2>自己紹介</h2>

はじめまして。<a href="https://twitter.com/inazawa32">@inazawa32</a> こと上岡です。
Perl好きが高じてこのブログを立ち上げました。何かしら有益な情報を発信できればいいですし、そうでなくてもいいです。
まずはPerlとの出会いから軽くお話をば。

<h3>Perlと私</h3>
私は元々Web屋なので、Perlとの出会いはCGIでした。

メールフォームを設置するってなるとCGIで書くことが多かったですし、動的な事をするってなったときにCGIで作られたものを触る機会が多かったです。

極めつけはMovableType（ムーバブルタイプ）の存在ですね。オープンソース版も存在していたことから、今でいうWordPress（ワードプレス）の地位を守っていたのがMovableTypeでした。MovableTypeはPerlで書かれていたので、必然的にPerlを読む機会に恵まれました。

時は経ち、PHPも7になり爆速化し、Pythonも3が普及し、RubyもRailsが根強い人気を保っています。

どの言語も魅力的で好きですが、私はプログラミングのいろはをPerlで身に着けたのでPerlが一番好きです。制御構造を覚えたのもPerlでしたし、初めて参加したプログラミング勉強会もPerlでした。

そんな母国語とも言えるPerlを使って、世の役に立つサムシングを作り続けていこうと考えています。
